# Google OAuth client_id (https://console.cloud.google.com/apis/credentials)
# Создай OAuth 2.0 Client ID (Type: Web application)
# Authorized JavaScript origins: http://localhost:5173 и https://qwan-chi.github.io
VITE_GOOGLE_CLIENT_ID=your_google_client_id_here

# Yandex OAuth client_id (https://oauth.yandex.ru/client/new)
# Тип: Веб-сервисы, Callback URI: http://localhost:5173 и https://qwan-chi.github.io/restbox/
VITE_YANDEX_CLIENT_ID=your_yandex_client_id_here
